@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');      /*IMPORTO UNA FUENTE*/


* {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0;
    image-rendering: pixelated;
    background-color: antiquewhite;
    overflow: hidden;       /*se esconde para que no aparezca el scroll bar*/
}


.game-container {
    position: relative;     /*para que se posicionen bien los elementos dentro del game-container**/
    width: 1470px;  
    height: 700px;
    margin: auto;
    overflow: hidden;
}

.menu {
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    user-select: none;
}

.main-menu, .instructions-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: url("../img/other/gif-main-menu.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

.main-menu img {
    margin-top: 60px;
    image-rendering: auto;
    width: 1000px;
    height: 35%;
}

.main-menu .options {
    image-rendering: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 65%;
}

.option-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../img/other/bar-not-highlighted.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 40px;
    width: 600px;
    height: 48px;
    cursor: pointer;
    transition: background-image 0.5s;
}

.option-button h1 {
    font-family: 'Impact', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    -webkit-text-stroke: 1.3px rgb(70, 0, 89);
    letter-spacing: -0.3px;
    color: rgb(203, 203, 203);
    font-size: 41px;
    
    transition: color 0.5s;
}

.option-button:hover {
    background-image: url("../img/other/bar-highlighted.png");
}

.option-button:not(:hover) {
    background-image: url("../img/other/bar-not-highlighted.png");
    transition-delay: 0.1s;
}

.option-button:hover h1 {
    color: rgb(242, 109, 8);
}

.instructions-menu .instructions-container{
    margin-left: 90px;
    margin-top: 50px;
    width: 1000px;
    height: 70%;
    background-image: url("../img/other/box-menu.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.instructions-text-container {
    top: 100px;
    left: 300px;
    position: absolute;
    width: 860px;
    height: 380px;
}

.instructions-text-container p {
    font-size: 20.5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(203, 203, 203);
    font-weight: 600;
}

.instructions-text-container h1 {
    font-size: 40px;
    color: rgb(229, 105, 17);
    text-decoration: underline;
    font-family: 'Bungee Spice', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.instructions-text-container span {
    font-family: 'Bungee Spice', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
}

.win-menu, .lose-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
}

.box-win-lose-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    background-image: url("../img/other/box-menu.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.win-menu img, .lose-menu img {
    width: 400px;
    margin-bottom: 50px;
}

.box-win-lose-container .option-button {
    background-size: 100% 100%;
    width: 50%;
    height: 50px;
    margin: 30px;
}

.box-win-lose-container h2 {
    font-size: 40px;
    font-family: 'Bungee Spice', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.transformation-timer {
    position: absolute;
    z-index: 1;
    font-size: 60px;
    top: 10px;
    left: 40px;
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hidden {
    display: none;
}

.game-stats {
    z-index: 1;
    position: absolute;
    top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 10%;
    user-select: none;
}

.game-stats div {
    display: flex;
    align-items: center;
    white-space: nowrap;
    justify-content: center;
    background-color: gray;
    padding: 10px;
}

.game-stats .DB-counter-container {
    background: url("../img/other/HUD-other.png") no-repeat;
    background-size: 100% 100%;
    width: 120px;
    height: 47px;
}

.game-stats .timer-container {
    background: url("../img/other/HUD-time.png") no-repeat;
    background-size: 100% 100%;
}

.game-stats .life-counter-container {
    background: url("../img/other/HUD-other.png") no-repeat;
    background-size: 100% 100%;
    width: 120px;
    height: 47px;
}

.game-stats div img {
    height: 40px;
    margin-right: 10px;
}

.game-stats h1 {
    font-family: 'Bungee Spice', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.game-stats #timer {
    font-size: 43px;
    padding-left: 5px;
    padding-right: 5px;
}

.parallax {
    width: 100%;
    height: 100%;
    position: absolute;     /*para que todo quede mergeado*/
    background-size: cover;
    overflow: hidden;
    
    /* transform: translateZ(0);       sirve para que el efecto parallax consuma menos CPU ya que activa a la GPU */
    /* will-change: transform;
    transform: translate3d(0, 0, 0); */
}

#sky {
    background: url("../img/parallax/sky.png") repeat-x;        /*se repite en el eje x*/
    background-size: 700px 100%;
}

#cloud-lonely {
    background: url("../img/parallax/cloud_lonely.png") repeat-x;
    background-size: 700px 300px;        /*width, height*/
}

#far-clouds {
    background: url("../img/parallax/far-clouds.png") repeat-x;
    background-size: 700px 100%;
}

#near-clouds {
    background: url("../img/parallax/near-clouds.png") repeat-x;
    background-size: 700px 100%;
}

#far-mountains {
    background: url("../img/parallax/far-mountains.png") repeat-x;
    background-size: 700px 100%;
}

#mountains {
    background: url("../img/parallax/mountains.png") repeat-x;
    background-size: 700px 100%;
    background-position: 0px -20px;
}

#trees {
    background: url("../img/parallax/trees.png") repeat-x;
    background-size: 700px;        
    background-position: 0px -30px;
} 

#grass {
    background: url("../img/parallax/grass.png") repeat-x;
    background-position: 0px 580px;    
    background-size: 100px;
}

/*-*/
.cloud-lonely-parallax {
    animation: parallax-effect 130s linear infinite;
}

.far-clouds-parallax {
    animation: parallax-effect 80s linear infinite;
}

.near-clouds-parallax {
    animation: parallax-effect 55s linear infinite;
}

.far-mountains-parallax {
    animation: parallax-effect 35s linear infinite;
}

.mountains-parallax {
    animation: parallax-effect 20s linear infinite;
}

.trees-parallax {
    animation: parallax-effect 4.5s linear infinite;
} 

.grass-parallax {
    animation: parallax-effect 1.5s linear infinite;
}

#goku {     /*PERSONAJE*/
    z-index: 1;
    height: 190px;
    width: 170px;
    position: absolute;
    top: 440px;
    left: 60px;
    background-repeat: no-repeat;
    background-size: cover;
}





.run {
    animation: run 0.6s steps(4) infinite;      
}

.jump {
    animation: jump 0.7s steps(4) 1;
}

.transform {
    animation: transform 0.5s steps(2) 3;
}

.hurt {
    animation: hurt 0.6s step-start 2;
}

.fly {
    animation: fly 0.8s infinite;
}

.flyAndHurt {
    animation: flyAndHurt 0.6s step-start 2;
}






/*----------------------------GAME OBJECT (y enemigos)----------------------------*/

.kienzanAttackGameObject {
    background-image: url("../img/sprites/kienzanAttack.png");
    position: absolute;
    width: 160px;
    height: 60px;
    background-size: cover;
    background-repeat: no-repeat;
    animation: kienzan-attack 0.4s steps(2) infinite, game-object 2s linear 1;
}

.blastAttackGameObject {
    background-image: url("../img/sprites/blastAttack.png");
    position: absolute;
    width: 100px;
    height: 110px;
    background-size: cover;
    background-repeat: no-repeat;
    animation: blast-attack 0.3s steps(2) infinite, game-object 3s linear 1;
}

.friezaGameObject {
    background-image: url("../img/sprites/Frieza_attack.png");
    position: absolute;
    width: 190px;
    height: 110px;
    background-size: 100% 100%;
    animation: game-object 2s linear 1;
}

.transformPowerUpGameObject {
    background-image: url("../img/other/transform-icon.png");
    position: absolute;
    width: 55px;
    height: 60px;
    background-size: 100% 100%;
    animation: game-object 3s linear 1;
}

.senzuBeanGameObject {
    background-image: url("../img/other/senzu-bean.png");
    position: relative;
    width: 40px;
    height: 45px;
    background-size: 100% 100%;
    animation: game-object 6s linear 1;
}

.dragonBallGameObject {
    background-image: url("../img/other/dragon-ball.png");
    position: absolute;
    width: 50px;
    height: 50px;
    background-size: 100% 100%;
    animation: game-object 4s linear 1;
}

.clockGameObject {
    background-image: url("../img/other/clock.png");
    position: absolute;
    width: 55px;
    height: 55px;
    background-size: 100% 100%;
    animation: game-object 4s linear 1;
}





/*------------------KEYFRAMES GAMEOBJECT------------------*/

@keyframes blast-attack {
    0% {background-position: 0px;}
    100% {background-position: -230px;}
}

@keyframes kienzan-attack {
    0% {background-position: 0px;}
    100% {background-position: -340px;}
}



@keyframes game-object {    
    0% {transform: translateX(1500px);}
    100% {transform: translateX(-150px);}
}




/*----------------------------KEYFRAMES PERSONAJE----------------------------*/

@keyframes run {    
    0% {background-position: 0px;}
    100% {background-position: -700px;}
}

@keyframes jump {
    0% {background-position: 0px;}
    50% {transform: translateY(-230px);} 
    100% {background-position: -590px;}
} 

@keyframes transform {
    0% {background-position: 0px;}
    100% {background-position: -525px;}
}

@keyframes hurt {
    0% {opacity: 1;}
    50% {opacity: 0.6;}
    100% {opacity: 1;}
}

@keyframes fly {
    0% {background-position-y: -2px;}
    50% {background-position-y: 2px;}
    100% {background-position-y: -2px;}
}

@keyframes flyAndHurt {
    0% {background-position-y: -2px; opacity: 1;}
    50% {background-position-y: 2px; opacity: 0.6;}
    100% {background-position-y: -2px; opacity: 1;}
}





/*----------------------------KEYFRAME PARALLAX----------------------------*/

@keyframes parallax-effect {
    from {background-position-x: 0px;}
    to {background-position-x: -700px;}
} 